n8n-workflow.json
{
  "name": "MeshMinds PrintChecker v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "idea",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ba7f702d-7e7c-4494-a0d7-f12901ace6d8",
      "name": "Webhook: URL Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "printchecker-idea"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.body.url || '';\nif (!url) return [{ json: { productContext: 'No URL provided', product: {} } }];\n\nconst origUrl = url.startsWith('http') ? url : 'https://' + url;\nlet productCtx = '';\nlet productData = {};\n\ntry {\n\n  // \u2500\u2500 MakerWorld: use official API \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  if (origUrl.includes('makerworld.com')) {\n    const idMatch = origUrl.match(/\\/models\\/(\\d+)/);\n    if (idMatch) {\n      const resp = await $helpers.httpRequest({\n        method: 'GET',\n        url: 'https://makerworld.com/api/v1/design-service/design/detail?designId=' + idMatch[1],\n        headers: { 'Accept': 'application/json' }\n      });\n      const m = resp.data || resp || {};\n      const stats = m.summary || m.stat || {};\n      const creator = m.user || m.designer || {};\n      productData = {\n        title: m.name || m.title || null,\n        description: String(m.description || '').substring(0, 200),\n        author: creator.name || creator.handle || creator.username || null,\n        likes: stats.likeCount || stats.like || null,\n        downloads: stats.downloadCount || stats.download || null,\n        makes: stats.makeCount || stats.make || null,\n        image: m.coverMedia ? 'https://makerworld.bblmake.com/' + m.coverMedia.filePath : null,\n        sourceHost: 'makerworld.com'\n      };\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n\\nSTRUCTURED DATA FROM MAKERWORLD API:\\n' + JSON.stringify({\n        title: productData.title,\n        description: String(m.description || '').substring(0, 400),\n        author: productData.author,\n        category: (m.category || {}).name || m.category,\n        likes: productData.likes,\n        downloads: productData.downloads,\n        makes: productData.makes,\n        printTime: m.printTime,\n        filament: m.filamentUsed || m.filament\n      }, null, 2);\n    } else {\n      const slug = origUrl.split('/models/')[1]?.split('?')[0] || '';\n      productCtx = 'SOURCE URL: ' + origUrl + '\\nPLATFORM: MakerWorld\\nMODEL SLUG: ' + slug + '\\n(No numeric ID in URL \u2014 Claude will infer from slug and user inputs)';\n      productData = { sourceHost: 'makerworld.com' };\n    }\n\n  // \u2500\u2500 Printables: use GraphQL API \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  } else if (origUrl.includes('printables.com')) {\n    const idMatch = origUrl.match(/\\/model\\/(\\d+)/);\n    if (idMatch) {\n      const resp = await $helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.printables.com/graphql/',\n        headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },\n        body: { query: '{ print(id: ' + idMatch[1] + ') { name description likesCount downloadCount makesCount user { publicUsername } category { name } } }' }\n      });\n      const m = (resp.data || {}).print || {};\n      productData = {\n        title: m.name || null,\n        description: String(m.description || '').substring(0, 200),\n        author: (m.user || {}).publicUsername || null,\n        likes: m.likesCount || m.likeCount || null,\n        downloads: m.downloadCount || null,\n        makes: m.makesCount || m.makeCount || null,\n        image: null,\n        sourceHost: 'printables.com'\n      };\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n\\nSTRUCTURED DATA FROM PRINTABLES API:\\n' + JSON.stringify({\n        title: productData.title,\n        description: String(m.description || '').substring(0, 400),\n        author: productData.author,\n        category: (m.category || {}).name,\n        likes: productData.likes,\n        downloads: productData.downloads,\n        makes: productData.makes\n      }, null, 2);\n    } else {\n      const slug = origUrl.split('/model/')[1]?.split('?')[0] || '';\n      productCtx = 'SOURCE URL: ' + origUrl + '\\nPLATFORM: Printables\\nMODEL SLUG: ' + slug + '\\n(No numeric ID in URL \u2014 Claude will infer from slug)';\n      productData = { sourceHost: 'printables.com' };\n    }\n\n  // \u2500\u2500 Generic: attempt HTML scrape \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  } else {\n    const html = await $helpers.httpRequest({\n      method: 'GET',\n      url: origUrl,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0.0.0 Safari/537.36',\n        'Accept': 'text/html'\n      }\n    });\n    const raw = typeof html === 'string' ? html : JSON.stringify(html);\n    if (raw.length > 200) {\n      const text = raw\n        .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n        .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n        .replace(/<[^>]+>/g, ' ')\n        .replace(/\\s{2,}/g, ' ').trim().substring(0, 4000);\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n\\nSCRAPED TEXT:\\n' + text;\n    } else {\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n(Scrape returned minimal content)';\n    }\n    productData = { sourceHost: origUrl.replace(/^https?:\\/\\//, '').split('/')[0] };\n  }\n\n} catch (e) {\n  productCtx = 'SOURCE URL: ' + origUrl + '\\n(Fetch error: ' + String(e.message || e).substring(0, 200) + ' \u2014 Claude will infer from URL and user inputs)';\n}\n\nreturn [{ json: { productContext: productCtx, product: productData } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Fetch & Extract (idea)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', productContext: $json.productContext, product: $json.product || {} }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ede69106-9419-4125-afc4-9c1374521a74",
      "name": "Respond: URL Received",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "idea2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "963f7651-453f-4622-bc08-5e149ab994da",
      "name": "Webhook: Analysis Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        600
      ],
      "webhookId": "printchecker-idea2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body;\n\nif (body.productContext) {\n  return [{ json: { productContext: body.productContext, originalRequest: body } }];\n}\n\nif (body.description) {\n  return [{ json: { productContext: 'PRODUCT IDEA (free text): \"' + body.description + '\"', originalRequest: body } }];\n}\n\nreturn [{ json: { productContext: '', originalRequest: body } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Code: Resolve Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.productContext || '' }}",
              "value2": "",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "IF: Needs Scrape?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const req = $('Code: Resolve Context').item.json.originalRequest;\nconst url = req.url || '';\nif (!url) return [{ json: { productContext: 'No URL provided', originalRequest: req } }];\n\nconst origUrl = url.startsWith('http') ? url : 'https://' + url;\nlet productCtx = '';\n\ntry {\n\n  // \u2500\u2500 MakerWorld: use official API \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  if (origUrl.includes('makerworld.com')) {\n    const idMatch = origUrl.match(/\\/models\\/(\\d+)/);\n    if (idMatch) {\n      const resp = await $helpers.httpRequest({\n        method: 'GET',\n        url: 'https://makerworld.com/api/v1/design-service/design/detail?designId=' + idMatch[1],\n        headers: { 'Accept': 'application/json' }\n      });\n      const m = resp.data || resp || {};\n      const stats = m.summary || m.stat || {};\n      const creator = m.user || m.designer || {};\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n\\nSTRUCTURED DATA FROM MAKERWORLD API:\\n' + JSON.stringify({\n        title: m.name || m.title,\n        description: String(m.description || '').substring(0, 400),\n        author: creator.name || creator.handle || creator.username,\n        category: (m.category || {}).name || m.category,\n        likes: stats.likeCount || stats.like,\n        downloads: stats.downloadCount || stats.download,\n        makes: stats.makeCount || stats.make,\n        printTime: m.printTime,\n        filament: m.filamentUsed || m.filament\n      }, null, 2);\n    } else {\n      const slug = origUrl.split('/models/')[1]?.split('?')[0] || '';\n      productCtx = 'SOURCE URL: ' + origUrl + '\\nPLATFORM: MakerWorld\\nMODEL SLUG: ' + slug + '\\n(No numeric ID \u2014 Claude infers from slug and user inputs)';\n    }\n\n  // \u2500\u2500 Printables: use GraphQL API \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  } else if (origUrl.includes('printables.com')) {\n    const idMatch = origUrl.match(/\\/model\\/(\\d+)/);\n    if (idMatch) {\n      const resp = await $helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.printables.com/graphql/',\n        headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },\n        body: { query: '{ print(id: ' + idMatch[1] + ') { name description likesCount downloadCount makesCount user { publicUsername } category { name } } }' }\n      });\n      const m = (resp.data || {}).print || {};\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n\\nSTRUCTURED DATA FROM PRINTABLES API:\\n' + JSON.stringify({\n        title: m.name,\n        description: String(m.description || '').substring(0, 400),\n        author: (m.user || {}).publicUsername,\n        category: (m.category || {}).name,\n        likes: m.likesCount || m.likeCount,\n        downloads: m.downloadCount,\n        makes: m.makesCount || m.makeCount\n      }, null, 2);\n    } else {\n      const slug = origUrl.split('/model/')[1]?.split('?')[0] || '';\n      productCtx = 'SOURCE URL: ' + origUrl + '\\nPLATFORM: Printables\\nMODEL SLUG: ' + slug + '\\n(No numeric ID \u2014 Claude infers from slug)';\n    }\n\n  // \u2500\u2500 Generic: attempt HTML scrape \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  } else {\n    const html = await $helpers.httpRequest({\n      method: 'GET',\n      url: origUrl,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0.0.0 Safari/537.36',\n        'Accept': 'text/html'\n      }\n    });\n    const raw = typeof html === 'string' ? html : JSON.stringify(html);\n    if (raw.length > 200) {\n      const text = raw\n        .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n        .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n        .replace(/<[^>]+>/g, ' ')\n        .replace(/\\s{2,}/g, ' ').trim().substring(0, 4000);\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n\\nSCRAPED TEXT:\\n' + text;\n    } else {\n      productCtx = 'SOURCE URL: ' + origUrl + '\\n(Scrape returned minimal content)';\n    }\n  }\n\n} catch (e) {\n  productCtx = 'SOURCE URL: ' + origUrl + '\\n(Fetch error: ' + String(e.message || e).substring(0, 200) + ' \u2014 Claude will infer from URL and user inputs)';\n}\n\nreturn [{ json: { productContext: productCtx, originalRequest: req } }];"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Fetch & Extract (idea2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ctx = $input.item.json;\nconst req = ctx.originalRequest;\n\nconst sellFrom      = req.sellFrom      || 'not specified';\nconst sellTo        = req.sellTo        || 'WORLDWIDE';\nconst flags         = Array.isArray(req.legalFlags)     ? req.legalFlags.join(', ')     : 'none';\nconst activeMarkets = Array.isArray(req.activeMarkets)  ? req.activeMarkets.join(', ')  : 'not specified';\nconst socialMedia   = Array.isArray(req.socialMedia)    ? req.socialMedia.join(', ')    : 'none';\nconst urlField      = req.url ? JSON.stringify(req.url) : 'null';\n\nconst prompt = `You are a 3D printing market analyst specialising in Etsy sales. Analyse this product for commercial viability and return ONLY a single valid JSON object - no markdown, no code fences, no explanation.\n\n${ctx.productContext}\n\nUSER INPUTS:\n- Category: ${req.category || 'not specified'}\n- Target marketplace: ${req.marketplace || 'etsy'}\n- Price range hint: ${req.priceRange || 'not specified'}\n- Print time: ${req.printTime || 'not specified'}\n- Material: ${req.material || 'not specified'}\n- Extra costs: ${req.extraCosts || 'none'}\n- Experience level: ${req.experience || 'not specified'}\n- Active selling markets: ${activeMarkets}\n- Social media channels: ${socialMedia}\n- Selling from: ${sellFrom}\n- Selling to: ${sellTo}\n- Legal flags: ${flags}\n\nReturn this exact JSON structure with all fields filled in:\n\n{\n  \"score\": <integer 0-100>,\n  \"verdict\": \"<punchy one-liner, 3-7 words>\",\n  \"product\": {\n    \"title\": \"<product title>\",\n    \"author\": \"<creator name or null>\",\n    \"description\": \"<2-3 sentences, vivid and specific>\",\n    \"printTime\": \"<like '3h 20m'>\",\n    \"material\": \"<like '38g PLA'>\",\n    \"sourceHost\": \"<domain/... or null>\",\n    \"url\": ${urlField},\n    \"image\": null,\n    \"tags\": [\"<tag1>\",\"<tag2>\",\"<tag3>\"],\n    \"likes\": <integer or null>,\n    \"saves\": <integer or null>,\n    \"downloads\": \"<formatted like '8.4k' or null>\",\n    \"prints\": \"<formatted like '2.1k' or null>\",\n    \"note\": \"<one bold demand-proof sentence, HTML <b> tags allowed>\"\n  },\n  \"market\": {\n    \"searchVolume\": <monthly searches integer>,\n    \"searchTrend\": \"<like '\\u2191 31% YoY' or '\\u2192 Stable'>\",\n    \"etsyListings\": <integer>,\n    \"etsyAvgPrice\": \"<like '\\u20ac21'>\",\n    \"topSellerSales\": <top seller estimated annual unit sales>,\n    \"printTime\": \"<avg print time like '~2.5 hrs'>\",\n    \"unitsPerDay\": \"<throughput like '\\u22482 units/day'>\",\n    \"insight\": \"<one actionable sentence, <b> tags allowed>\"\n  },\n  \"revenue\": {\n    \"unitsPerMonth\": <realistic for a new seller - see calibration>,\n    \"grossRevenue\": <unitsPerMonth x sellPrice rounded>,\n    \"printCost\": <total monthly material+energy cost>,\n    \"etsyFees\": <grossRevenue x 0.12 rounded>,\n    \"netProfit\": <grossRevenue - printCost - etsyFees>,\n    \"sellPrice\": \"<optimal price like '\\u20ac22.40'>\"\n  },\n  \"copyright\": {\n    \"etsyBanRisk\": \"<low|medium|high>\",\n    \"etsyBanReason\": \"<one sentence>\",\n    \"legalRisk\": \"<low|medium|high>\",\n    \"legalDesc\": \"<one sentence, consider seller in ${sellFrom} selling to ${sellTo}>\",\n    \"copyrightRisk\": \"<low|medium|high>\",\n    \"copyrightDesc\": \"<one sentence IP check>\",\n    \"insight\": \"<one-line summary, <b> tags allowed>\"\n  }\n}\n\n\u2500\u2500 SCORING (0-100) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nDemand/competition ratio 40% + profit margin 35% + legal safety 25%.\n80-100 = clear opportunity. 60-79 = viable with effort. 40-59 = marginal. 0-39 = avoid.\nDeduct 15-30 points for any IP/copyright risk.\n\n\u2500\u2500 REVENUE CALIBRATION \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nunitsPerMonth baseline for a new Etsy seller:\n  very low competition (<500 listings, >10k searches) = 45-70\n  low competition (500-2k listings) = 25-45\n  moderate competition (2k-8k listings) = 15-30\n  saturated (>8k listings) = 8-20\n\nsellPrice sweet spot by type:\n  Generic functional (hooks, organisers, mounts) = \\u20ac10-20\n  Decorative / home decor = \\u20ac14-28\n  Custom / personalised = \\u20ac18-40\n  Miniatures & gaming = \\u20ac12-30\n  Premium / large format = \\u20ac35-80\n  Use the priceRange hint if provided.\n\nprintCost = (weight_g x \\u20ac0.025) + (print_hours x \\u20ac0.05) + 20% overhead, x unitsPerMonth\nCheck: netProfit = grossRevenue - printCost - etsyFees\n\n\u2500\u2500 IP / COPYRIGHT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nHigh risk: Disney/Marvel/DC, Pokemon, Nintendo (Mario/Zelda/etc), sports logos, band logos, any identifiable branded character or logo.\nMedium risk: generic fandom designs, historical figures, inspired-by styles.\nLow risk: geometric, nature, abstract, original functional items, generic home decor.`;\n\nreturn [{\n  json: {\n    claudeRequest: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 2048,\n      messages: [{ role: 'user', content: prompt }]\n    })\n  }\n}];"
      },
      "id": "b8442248-f62a-4468-a41d-70923de4ba7d",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeRequest }}",
        "options": {
          "timeout": 55000
        }
      },
      "id": "f4232850-6028-48a6-879e-dc06a7e88947",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $input.item.json;\n\nif (resp.error || resp.type === 'error') {\n  throw new Error('Anthropic API error: ' + JSON.stringify(resp.error || resp));\n}\n\nconst content = resp.content;\nif (!content || !content[0] || !content[0].text) {\n  throw new Error('Unexpected Anthropic response: ' + JSON.stringify(resp));\n}\n\nlet text = content[0].text.trim();\n\nconst fenceMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (fenceMatch) text = fenceMatch[1].trim();\n\nconst start = text.indexOf('{');\nconst end   = text.lastIndexOf('}');\nif (start === -1 || end <= start) {\n  throw new Error('No valid JSON found in Claude response: ' + text.substring(0, 300));\n}\ntext = text.slice(start, end + 1);\n\nlet result;\ntry {\n  result = JSON.parse(text);\n} catch (e) {\n  throw new Error('JSON parse failed: ' + e.message + '\\nRaw: ' + text.substring(0, 500));\n}\n\nreturn [{ json: result }];"
      },
      "id": "d430ff92-b297-4204-9d34-71ee6b303881",
      "name": "Extract Analysis JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "6cd46cfc-6576-439d-a56d-b36a45321e82",
      "name": "Respond: Analysis Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1900,
        600
      ]
    },
    {
      "parameters": {
        "content": "## MeshMinds PrintChecker v2\n\n### One-time setup\nSettings \u2192 Environment Variables:\n`ANTHROPIC_API_KEY` = `sk-ant-api03-...`\n\n---\n\n### Why no HTTP Request scraper node?\nMakerWorld and Printables use Cloudflare bot protection \u2014 direct\nHTTP scraping returns 403. Instead, Code nodes use\n`$helpers.httpRequest()` to call their official APIs directly:\n- MakerWorld: `GET /api/v1/design-service/design/detail?designId=ID`\n- Printables:  `POST https://api.printables.com/graphql/`\n- Other URLs:  plain HTML scrape (still attempted)\n\n---\n\n### Flow: POST /idea  (fires when URL is pasted)\n```\nWebhook: URL Submit\n  \u2192 Fetch & Extract (idea)   API call \u2192 structured JSON\n  \u2192 Respond: URL Received    { status, productContext }\n```\nFrontend stores productContext while user fills questionnaire.\n\n### Flow: POST /idea2  (fires on analysis submit)\n```\nWebhook: Analysis Request\n  \u2192 Code: Resolve Context\n      body.productContext \u2192 fast path (already fetched)\n      body.description   \u2192 free-text idea\n      body.url only      \u2192 signal scrape needed\n  \u2192 IF: Needs Scrape?\n      TRUE  \u2192 Fetch & Extract (idea2)  fallback API call\n      FALSE \u2192 skip\n  \u2192 Build Claude Prompt\n  \u2192 Call Claude  (claude-sonnet-4-6)\n  \u2192 Extract Analysis JSON\n  \u2192 Respond: Analysis Complete\n```",
        "height": 520,
        "width": 560,
        "color": 4
      },
      "id": "55ca9adb-d3ab-49cb-93eb-cd93ddcfcc2d",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -340
      ]
    }
  ],
  "connections": {
    "Webhook: URL Submit": {
      "main": [
        [
          {
            "node": "Fetch & Extract (idea)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Extract (idea)": {
      "main": [
        [
          {
            "node": "Respond: URL Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Analysis Request": {
      "main": [
        [
          {
            "node": "Code: Resolve Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Resolve Context": {
      "main": [
        [
          {
            "node": "IF: Needs Scrape?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Needs Scrape?": {
      "main": [
        [
          {
            "node": "Fetch & Extract (idea2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Extract (idea2)": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Extract Analysis JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Analysis JSON": {
      "main": [
        [
          {
            "node": "Respond: Analysis Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a0cfeb1f137492401d1e3624bf6af3059a07143f49538a24e8680e25b67132d"
  },
  "tags": []
}