n8n-workflow.json
{
  "name": "MeshMinds PrintChecker v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "idea",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "43e2bee5-c4fc-452d-8ee5-f0121261e1af",
      "name": "Webhook: Analysis Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        25056,
        640
      ],
      "webhookId": "printchecker-idea2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert Etsy seller, 3D printing business analyst, and product compliance specialist. Your job is to evaluate whether a 3D printed model is worth selling — and whether 3D printing is even the right manufacturing method.\nAnalyse the product data below and return ONLY a valid JSON object — no markdown, no explanation, no code fences.\nProduct data:\n{{ $json.productContext }}\nImage URL (use as product.image if valid, otherwise null):\n{{ $json.imageUrl }}\nSource URL: {{ $json.sourceUrl }}\nSELLER INPUTS (from questionnaire — use ALL of these to personalise every section of the analysis):\n- Category: {{ $('Webhook: Analysis Request').item.json.body.category || 'not specified' }}\n- Target marketplace: {{ $('Webhook: Analysis Request').item.json.body.marketplace || 'Etsy' }}\n- Price range: {{ $('Webhook: Analysis Request').item.json.body.priceRange || 'not specified' }}\n- Print time per unit: {{ $('Webhook: Analysis Request').item.json.body.printTime || 'not specified' }}\n- Material: {{ $('Webhook: Analysis Request').item.json.body.material || 'not specified' }}\n- Seller goal: {{ $('Webhook: Analysis Request').item.json.body.sellerGoal || 'not specified' }}\n- Number of printers: {{ $('Webhook: Analysis Request').item.json.body.printerCount || 'not specified' }}\n- Printer type: {{ $('Webhook: Analysis Request').item.json.body.printerType || 'not specified' }}\n- Seller experience level: {{ $('Webhook: Analysis Request').item.json.body.experience || 'not specified' }}\n- Weekly time available: {{ $('Webhook: Analysis Request').item.json.body.weeklyTime || 'not specified' }}\n- Already selling on: {{ Array.isArray($('Webhook: Analysis Request').item.json.body.activeMarkets) ? $('Webhook: Analysis Request').item.json.body.activeMarkets.join(', ') : ($('Webhook: Analysis Request').item.json.body.activeMarkets || 'none') }}\n- Social media channels: {{ Array.isArray($('Webhook: Analysis Request').item.json.body.socialMedia) ? $('Webhook: Analysis Request').item.json.body.socialMedia.join(', ') : ($('Webhook: Analysis Request').item.json.body.socialMedia || 'none') }}\n- Selling from (country): {{ $('Webhook: Analysis Request').item.json.body.sellFrom || 'not specified' }}\n- Selling to (markets): {{ $('Webhook: Analysis Request').item.json.body.sellTo || 'WORLDWIDE' }}\n- Legal / IP flags noted by seller: {{ Array.isArray($('Webhook: Analysis Request').item.json.body.legalFlags) ? $('Webhook: Analysis Request').item.json.body.legalFlags.join(', ') : ($('Webhook: Analysis Request').item.json.body.legalFlags || 'none') }}\nWHAT MAKES A 3D PRINT WORTH SELLING — use this to calibrate score, verdict, and strategy:\nGREEN FLAGS (boosts score): high personalisation or customisation potential (names, sizes, colours); complex geometry that injection-moulding cannot do cheaply; strong gifting angle (personalised items for weddings, babies, pets); passionate niche community (DnD players, mechanical keyboard enthusiasts, specific game fandoms); replacement parts for discontinued products; items where the maker or craft story adds perceived value; clear functional problem being solved; Etsy top sellers in this niche earning more than €1k/month; low filament cost relative to sell price (more than 70% gross margin).\nRED FLAGS (lowers score): commodity item available cheaper on Amazon or AliExpress (phone holders, cable clips below €5); character or logo from Disney, Nintendo, Marvel, Harry Potter, Pokémon, or any other major IP (Etsy enforcement is aggressive and well-documented); item where plastic appearance is a disadvantage (premium jewellery, food contact); generic unbranded design with 10,000+ identical Etsy listings; print time over 12h at sell price under €20 (bad hourly return); bulky or heavy item with high shipping cost relative to sell price; product that exceeds the seller's stated printer build volume without an elegant split strategy.\nMARKET KNOWLEDGE — treat as ground truth for calibrating estimates:\n- Filament cost: approx. €0.02–0.03/g PLA. Use €0.025/g as the default when estimating print cost unless seller provided different values. Factor 30–50g average for small desk and functional items; scale up for larger prints.\n- Print failure rate: assume 5–8% on complex geometries. Add ~6% to raw print cost as failure overhead.\n- Platform that converts best: Etsy strongly outperforms eBay for gift, décor, and novelty items — estimated 3:1 ratio or higher. eBay is only relevant for technical parts, replacement components, or items buyers search by specification.\n- Etsy audience: 55% of Etsy traffic is USA-based. 58% female. Over 50% under 35. Products must appeal to a US gift-buyer mindset to maximise reach.\n- Price ceiling by category (market-verified): functional desk items (monitor stands, organisers) — buyers resist above €35–40. Novelty and gift items — ceiling is higher, €20–55 depending on personalisation. Dice and DnD accessories — strong buyer willingness up to €30. Planters — generic designs fail; unique designs command €15–25. Lamps — €60–150 possible but require brand trust and an own website.\n- Products that flop: generic phone holders and cable clips below €10 (Amazon undercuts at €2–6). Generic articulated dragons and flexi animals (10,000+ identical Etsy listings). Any item where drop-shipped versions exist at lower price. These are strong red flags — penalise score accordingly.\n- Top-performing product patterns (market-verified): (1) Dice and DnD accessories — evergreen, passionate buyers, strong search volume. (2) Tech accessory holders (Echo Dot, AirPods, Apple Watch chargers) with pop-culture or character angle — high revenue but significant IP risk. (3) Personalised name items — evergreen, highest conversion rate, justifies €6–14 premium per order. (4) Planters with a twist (animal, food-themed, character-adjacent without licensed IP) — low competition relative to view counts. (5) Monitor stands and risers — very low competition vs. strong search volume, strong B2B angle for offices.\n- Revenue benchmarks: top performers earn €500–€5,000/month. Mid-tier: €150–€500/month. Beginners with a proven product: €50–€200/month in first 6 months.\n- Etsy SEO reality: keyword-dense titles, all 13 tags used, and long-tail descriptions matter as much as product quality. Review accumulation is a compounding moat — a new seller needs a strategy to get first reviews fast.\n- Sales and discounts strategy: 25–30% off flash sales for 1–2 day windows create FOMO. Etsy notifies customers when a sale ends. Many top stores run a permanent 20% off to boost perceived value.\n- B2B angle: one B2B client (restaurant, office, event planner, interior designer) can equal weeks of B2C sales. Flag this opportunity when relevant — especially for monitor risers, table signs, menu holders, display stands, cable management, geometric décor.\n- Etsy policy (March 2026): reselling prints is permitted when the seller has an appropriate commercial/print-for-sale license from the designer. Check the license shown in the scraped data. If the file is explicitly licensed for commercial use or selling prints: low Etsy ban risk. If the license is unclear or not visible: set etsyBanRisk to \"medium\" and tell the seller to check the model page license tab and consider messaging the designer directly to request a commercial license. If the file is marked personal use only / non-commercial: set etsyBanRisk to \"high\". Do NOT auto-flag as high simply because the URL is on MakerWorld, Printables, or another external repository.\nSCORING CALIBRATION based on seller inputs:\n- Seller goal = \"testing\": use conservative revenue projections (50% of median). goal = \"side-hustle\": median projections. goal = \"business\" or \"scaling\": optimistic projections (120–150% of median).\n- Printer count: cap revenue at what the stated number of printers can realistically produce given the stated print time and a 16–18 hour usable print day. Do not project more units than the printers can physically output.\n- Printer type = \"resin\": adjust manufacturing section to reflect resin strengths (detail, miniatures) and weaknesses (post-processing time, smaller build volume, REACH chemical compliance for skin-contact items). FDM: note layer-line visibility and how it affects buyer perception in this specific category.\n- Experience = \"new\": reduce estimated sales velocity by 40%, add beginner strategy tips. Experience = \"pro\": full projected sales velocity.\n- Weekly time = \"<5h\": apply a feasibility score penalty if the product requires more than 2h print time plus fulfilment per unit.\n- Single-printer constraint: if print time per unit exceeds 4h and only 1 printer is available, flag the production bottleneck in strategy.topTips and cap monthly unit output accordingly (e.g. a 6h print on 1 printer = max ~2–3 units/day accounting for bed changes and failure rate).\nCOMPLIANCE CONTEXT — apply when generating copyright.legalDesc and the certificates array:\n- EU (DE, FR, NL, etc.): GPSR (Dec 2024) always applies — EU Responsible Person + Declaration of Conformity required. CE for toys (EN 71), electronics (LVD+EMC), PPE. REACH for skin-contact/electrical. RoHS for electronics. Etsy requires GPSR statement for EU sellers.\n- GB: UKCA replaces CE. UK Toys Regs 2011. REACH UK. Technical files 10 years.\n- US: CPSC/CPSIA for children's products (third-party lab + Children's Product Certificate). ASTM F963-23. FCC Part 15. California Prop 65.\n- CA: CCPSA. Health Canada toys regs. Bilingual labelling.\n- AU: RCM mark for electrical. ACCC standards.\n- JP: PSE for electrical. ST mark for toys.\n- WORLDWIDE: apply strictest standard across all target markets.\n- Use sellFrom and sellTo to determine which compliance frameworks apply. Flag international shipping cost impact when relevant to the seller's specific country and target markets.\nPLATFORM STRATEGY:\n- Etsy: best for handmade gifts, décor, novelty (≈60% US buyers). CRITICAL (March 2026): seller must have personally designed or substantially hand-finished the item — reselling downloaded STL prints is prohibited and risks suspension. Fees: ~10% + €0.20/listing.\n- eBay: better for parts/components buyers search by spec. No handmade requirement. Sellers shipping domestically or regionally can undercut international competitors on shipping time and cost.\n- STL marketplaces (MakerWorld, Printables, Cults3D): passive income, no fulfilment.\n- Local marketplaces (Kleinanzeigen, Facebook Marketplace, Craigslist, etc.): best for heavy/bulky where shipping kills margin. Zero CAC.\n- B2B cold outreach: identify local businesses relevant to the product (offices, restaurants, event planners, interior designers) and reach out with a product photo and price list. One B2B client = weeks of B2C revenue.\n- Own shop: best long-term margins but needs traffic; viable only after proven product + audience.\nMANUFACTURING METHOD ANALYSIS — assess whether FDM/SLA is the right method:\n1. 3D printing excels for: high customisation/personalisation, complex geometry, low volumes (<200/month), zero tooling cost.\n2. Wrong method when: flat/2D design (laser cutting faster), food-safe smooth surface required (FDM layer lines fail EU Reg 10/2011 + FDA 21 CFR 177), high simple-geometry volumes (injection mould cost-effective above ~500/month), commodity available cheaper off-shelf.\n3. Buyer perception: handcrafted/unique → 3D printing fits. Mass-manufactured look expected → disappoints.\n4. Printer build volume: if the seller specified a printer type, flag products that may exceed its typical build volume and note whether a split/join line would affect aesthetics or strength.\nYour analysis must follow this EXACT JSON schema. Every field is required.\n{\n  \"score\": <integer 0–100, overall seller potential>,\n  \"verdict\": <string — pick exactly: 80-100 → \"Start selling this right now\", 60-79 → \"Good for the right audience\", 40-59 → \"Marginal — needs a unique angle\", 0-39 → \"Don't sell — [2-3 word specific reason]\">,\n  \"product\": {\n    \"title\": <string>,\n    \"description\": <string, 1–2 sentences>,\n    \"author\": <string or null>,\n    \"printTime\": <string, use seller input if given, else estimate e.g. \"4h 20m\">,\n    \"material\": <string, use seller input if given, else estimate weight in grams at €0.025/g PLA e.g. \"38g PLA\">,\n    \"sourceHost\": <string, hostname+path>,\n    \"image\": <string URL or null>,\n    \"likes\": <integer or null>,\n    \"saves\": <integer or null>,\n    \"downloads\": <string formatted like \"8.4k\" or null>,\n    \"prints\": <string formatted like \"2.1k\" or null>,\n    \"tags\": [<string>, ...up to 4 tags],\n    \"note\": <string, one punchy sentence with <b> tags about COMMERCIAL buyer demand — cite Etsy search volume, proven seller revenue, or buyer category trends ONLY. Never cite maker-platform saves/likes/downloads/prints as buyer signals — those reflect printer community engagement, not purchasing intent>\n  },\n  \"market\": {\n    \"searchVolume\": <integer, estimated monthly searches>,\n    \"searchTrend\": <string e.g. \"↑ 34% YoY\" or \"→ Stable\" or \"↓ 12% YoY\">,\n    \"etsyListings\": <integer>,\n    \"etsyAvgPrice\": <string e.g. \"€18\">,\n    \"topSellerSales\": <integer>,\n    \"printTime\": <string>,\n    \"unitsPerDay\": <string — calculate based on the seller's stated printer setup and print time; if printer type is not specified, estimate for a typical single FDM printer e.g. \"≈3 units/day\">,\n    \"insight\": <string, 2–3 sentence HTML with <b>: demand vs competition ratio, seasonality, buyer perception of 3D-printed items in this category, and any production constraints based on the seller's setup>\n  },\n  \"revenue\": {\n    \"unitsPerMonth\": <integer — must be consistent with the seller's printer output ceiling given print time, failure rate, and seller goal>,\n    \"grossRevenue\": <integer>,\n    \"printCost\": <integer — calculated at €0.025/g PLA plus 6% failure rate overhead unless seller provided different values>,\n    \"etsyFees\": <integer — 6.5% transaction + 3.5% payment processing + €0.20 listing amortised>,\n    \"netProfit\": <integer>,\n    \"sellPrice\": <string e.g. \"€22.40\">\n  },\n  \"manufacturing\": {\n    \"is3DPrintingOptimal\": <boolean>,\n    \"verdict\": <string — EXACTLY one of: \"Ideal method\" | \"Works, but has limits\" | \"Wrong method — consider alternatives\">,\n    \"reason\": <string, ONE sentence, plain text — state the single most important fit or misfit reason for this product>,\n    \"alternatives\": [<string>, ...up to 2 better methods if is3DPrintingOptimal is false. Empty array [] if 3D printing is optimal.],\n    \"breakEvenUnits\": <integer, monthly volume at which injection-mold tooling cost is recovered within 18 months; 0 if not applicable>,\n    \"printingAdvantage\": <string, the single most compelling advantage of 3D printing for THIS specific product — be concrete e.g. \"Personalisation — buyers pay 2–3× premium for custom name inserts\" or \"Geometry — hollow organic lattice impossible to injection-mold economically\" or \"Zero tooling — test market viability at €0 upfront\">\n  },\n  \"copyright\": {\n    \"etsyBanRisk\": <\"low\" | \"medium\" | \"high\">,\n    \"etsyBanReason\": <string, 1 sentence — base this on the actual license found in the scraped data. If the file has a commercial/print-for-sale license: state that and set risk low. If license is unclear or not visible: warn the seller to verify and mention they can message the creator to request a commercial license. If license is explicitly personal-use-only: set high and cite March 2026 Etsy policy. Never flag as high solely because the URL is an external repo.>,\n    \"legalRisk\": <\"low\" | \"medium\" | \"high\">,\n    \"legalDesc\": <string, 1–2 sentences — name the SPECIFIC regulation relevant to the seller's country (sellFrom) and target markets (sellTo). State the action required if risk is medium or high.>,\n    \"copyrightRisk\": <\"low\" | \"medium\" | \"high\">,\n    \"copyrightDesc\": <string, 1 sentence — name the IP holder if identifiable>,\n    \"insight\": <string, 1–2 sentence HTML with <b>>\n  },\n  \"strategy\": {\n    \"bestPlatform\": <string, single best channel for this seller e.g. \"Etsy (USA gift buyers)\" | \"eBay (spec search)\" | \"Local marketplace (bulky, shipping kills margin)\" | \"B2B cold outreach (offices, restaurants)\">,\n    \"platformAdvice\": <string, 2–3 sentence HTML with <b>: platform priority + trade-offs; flag March 2026 Etsy reselling policy if Etsy + STL repo source; B2B angle if relevant; flag shipping cost impact based on seller's country and target markets if relevant>,\n    \"realWorldExample\": {\n      \"name\": <string or null — a REAL, VERIFIABLE business doing something genuinely similar. Only include if confident. null if no strong match — do NOT invent.>,\n      \"url\": <string or null — their actual public website URL>,\n      \"whatTheyDo\": <string or null — one sentence: what they make, approximate price point, and why it is relevant to this seller>\n    },\n    \"topTips\": [<string>, <string>, <string>]\n  },\n  \"certificates\": [\n    {\n      \"flag\": <string, which seller flag triggered this — \"kids\" | \"electronics\" | \"food\" | \"wearable\" | \"battery\" | \"magnetic\" | \"gpsr\">,\n      \"name\": <string, official cert or standard name e.g. \"CE EN 71-1\" or \"ASTM F963-23\" or \"GPSR Declaration of Conformity\">,\n      \"region\": <string, with flag emoji e.g. \"🇪🇺 EU\" or \"🇺🇸 USA\" or \"🇬🇧 UK\">,\n      \"required\": <\"required\" | \"recommended\" | \"check-with-lawyer\">,\n      \"desc\": <string, one plain-English sentence describing what this cert covers and why it applies to this seller>,\n      \"cost\": <string, realistic cost range e.g. \"€500–€2,000\" or \"self-declaration possible\">,\n      \"difficulty\": <\"low\" | \"medium\" | \"high\">,\n      \"note\": <string, one practical tip — supplier data sheet, self-declaration eligibility, lead time, or a common pitfall>\n    }\n  ]\n}\nIMPORTANT RULES:\n- copyright.etsyBanRisk, legalRisk, copyrightRisk must be EXACTLY \"low\", \"medium\", or \"high\"\n- manufacturing.verdict must be EXACTLY one of the three options listed\n- All revenue values are plain integers (no symbols, no commas)\n- revenue.sellPrice must include the euro symbol and decimal e.g. \"€22.40\"\n- revenue.printCost must reflect €0.025/g PLA + 6% failure overhead unless seller overrides\n- market.insight must be valid HTML (only <b> tags)\n- strategy.topTips: exactly 3 items, each <b>action</b> + one concrete sentence tailored to this product and the seller's stated setup, markets, and experience level\n- strategy.realWorldExample.name must be null if you are not certain the business exists — do NOT invent names\n- strategy.platformAdvice: if the source is an external STL repo, note the license status found in scraped data. If license is unclear, advise checking the model page and contacting the creator for a commercial license. Only flag as a hard blocker if the file is explicitly personal-use-only.\n- certificates: include GPSR if sellFrom is an EU country. Add category certs for any legalFlags set.\n- Adjust revenue.unitsPerMonth for seller experience level and printer output ceiling — never project more units than the stated printer setup can realistically print given the stated print time\n- Extract product.likes/saves/downloads/prints/author from scraped data; set to null if not found\n- On MakerWorld (makerworld.bambulab.com): look for \"Downloaded by X\", \"Liked by X\", \"Collected X times\", \"X Makes\"\n- On Printables (printables.com): look for \"Downloads\", \"Likes\", \"Makes\", \"Collections\"\n- On Thingiverse (thingiverse.com): look for \"Downloads\", \"Likes\", \"Remixes\", \"Collectors\"\n- On Cults3D (cults3d.com): look for \"Downloads\" and \"Likes\" near the designer name; check if free or paid\n- On MyMiniFactory (myminifactory.com): look for \"Downloads\", \"Likes\", \"Makes\" and whether free or paid\n- On CGTrader (cgtrader.com): look for product type, price, star rating, and review count\n- On Thangs (thangs.com): look for \"Downloads\", \"Views\", \"Likes\"\n- Never include a literal double-quote character inside any JSON string value — rephrase or use single quotes\n- Return ONLY the JSON object. No other text."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        25728,
        640
      ],
      "id": "10083a1e-7ac7-432a-bdfa-50a3cdca2259",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "BN9V68mlR6Lhibd4",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst text = (raw.content?.[0]?.text || '').trim();\n\nif (!text) throw new Error('Empty response from Claude');\n\nconst fenceMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nconst clean = fenceMatch ? fenceMatch[1].trim() : text;\nconst start = clean.indexOf('{');\n\nif (start === -1) {\n  throw new Error('No JSON object found. Tail: ...' + text.slice(-200));\n}\n\nlet jsonStr = clean.slice(start);\n\n// Detect truncation and repair by closing open strings and brackets\nfunction repairTruncatedJson(s) {\n  const stack = [];\n  let inStr = false, esc = false;\n  for (let i = 0; i < s.length; i++) {\n    const c = s[i];\n    if (esc) { esc = false; continue; }\n    if (c === '\\\\' && inStr) { esc = true; continue; }\n    if (c === '\"') { inStr = !inStr; continue; }\n    if (!inStr) {\n      if (c === '{' || c === '[') stack.push(c);\n      else if (c === '}' || c === ']') stack.pop();\n    }\n  }\n  if (stack.length === 0 && !inStr) return { repaired: s, truncated: false };\n  let repaired = s;\n  if (inStr) repaired += '\"';\n  repaired = repaired.replace(/,\\s*$/, '');\n  if (/:\\s*$/.test(repaired)) repaired += 'null';\n  while (stack.length > 0) {\n    repaired += stack.pop() === '{' ? '}' : ']';\n  }\n  return { repaired, truncated: true };\n}\n\nconst { repaired, truncated } = repairTruncatedJson(jsonStr);\nif (truncated) jsonStr = repaired;\n\nfunction parseWithFixes(s) {\n  try { return JSON.parse(s); } catch (_) {}\n  try {\n    const fixed = s.replace(/^\\s*\\/\\/.*$/gm, '').replace(/,(\\s*[}\\]])/g, '$1');\n    return JSON.parse(fixed);\n  } catch (_) {}\n  try {\n    let sanitized = '';\n    let inString = false, escaped = false;\n    for (let i = 0; i < s.length; i++) {\n      const c = s[i];\n      if (escaped) { sanitized += c; escaped = false; }\n      else if (c === '\\\\' && inString) { sanitized += c; escaped = true; }\n      else if (c === '\"') { sanitized += c; inString = !inString; }\n      else if (inString && c === '\\n') { sanitized += '\\\\n'; }\n      else if (inString && c === '\\r') { /* skip */ }\n      else if (inString && c === '\\t') { sanitized += '\\\\t'; }\n      else { sanitized += c; }\n    }\n    return JSON.parse(sanitized);\n  } catch (e) {\n    throw new Error('All parse attempts failed: ' + e.message + '. Last 300 chars: ...' + s.slice(-300));\n  }\n}\n\nconst parsed = parseWithFixes(jsonStr);\nparsed._truncated = truncated;\nreturn { json: JSON.parse(JSON.stringify(parsed)) };\n"
      },
      "id": "ffe746f4-abde-4f42-8ff2-081d8a56a422",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26080,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "6f41f81f-ade7-4296-8f2b-fac1980d1b3f",
      "name": "Respond: Analysis Complete1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        26304,
        544
      ]
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ ($json.body.url || '').startsWith('http') ? $json.body.url : 'https://' + ($json.body.url || '') }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "headers": {},
            "waitFor": 2000
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        25280,
        640
      ],
      "id": "f4617104-7035-4f7b-b237-16627ed3837a",
      "name": "/scrape",
      "credentials": {
        "firecrawlApi": {
          "id": "Ina0nX9suDXJygGI",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "productContext",
              "stringValue": "=URL: {{ $json.data.metadata.sourceURL }}\nTITLE: {{ $json.data.metadata.title }}\nDESCRIPTION: {{ $json.data.metadata.description }}\n\n{{ ($json.data.markdown || '').substring(0, 4000) }}"
            },
            {
              "name": "imageUrl",
              "stringValue": "={{ $json.data.metadata.ogImage }}"
            },
            {
              "name": "sourceUrl",
              "stringValue": "={{ $json.data.metadata.sourceURL }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "b5d9424f-f7da-41cb-b357-5c0dd2906ec8",
      "name": "Extract Product Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        25504,
        640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sbwk2wOg0H5-lQQEkwH403YjyHX2suZf52-u5Bykt1M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "input_url": "={ $('Webhook: Analysis Request').item.json.body.url || $('Webhook: Analysis Request').item.json.body.description || '' }",
            "source_host": "={{ ($json.product || {}).sourceHost || '' }}",
            "score": "={{ $json.score }}",
            "verdict": "={{ $json.verdict }}",
            "title": "={{ ($json.product || {}).title || '' }}",
            "description": "={{ ($json.product || {}).description || '' }}",
            "author": "={{ ($json.product || {}).author || '' }}",
            "print_time_ai": "={{ ($json.product || {}).printTime || '' }}",
            "material_ai": "={{ ($json.product || {}).material || '' }}",
            "downloads": "={{ ($json.product || {}).downloads || '' }}",
            "likes": "={{ ($json.product || {}).likes || '' }}",
            "search_volume": "={{ ($json.market || {}).searchVolume || '' }}",
            "search_trend": "={{ ($json.market || {}).searchTrend || '' }}",
            "etsy_listings": "={{ ($json.market || {}).etsyListings || '' }}",
            "etsy_avg_price": "={{ ($json.market || {}).etsyAvgPrice || '' }}",
            "market_insight": "={{ ($json.market || {}).insight || '' }}",
            "sell_price": "={{ ($json.revenue || {}).sellPrice || '' }}",
            "units_per_month": "={{ ($json.revenue || {}).unitsPerMonth || '' }}",
            "gross_revenue": "={{ ($json.revenue || {}).grossRevenue || '' }}",
            "print_cost": "={{ ($json.revenue || {}).printCost || '' }}",
            "etsy_fees": "={{ ($json.revenue || {}).etsyFees || '' }}",
            "net_profit": "={{ ($json.revenue || {}).netProfit || '' }}",
            "manufacturing_verdict": "={{ ($json.manufacturing || {}).verdict || '' }}",
            "is_3d_optimal": "={{ ($json.manufacturing || {}).is3DPrintingOptimal ?? '' }}",
            "printing_advantage": "={{ ($json.manufacturing || {}).printingAdvantage || '' }}",
            "etsy_ban_risk": "={{ ($json.copyright || {}).etsyBanRisk || '' }}",
            "etsy_ban_reason": "={{ ($json.copyright || {}).etsyBanReason || '' }}",
            "legal_risk": "={{ ($json.copyright || {}).legalRisk || '' }}",
            "legal_desc": "={{ ($json.copyright || {}).legalDesc || '' }}",
            "copyright_risk": "={{ ($json.copyright || {}).copyrightRisk || '' }}",
            "copyright_desc": "={{ ($json.copyright || {}).copyrightDesc || '' }}",
            "best_platform": "={{ ($json.strategy || {}).bestPlatform || '' }}",
            "category": "={ $('Webhook: Analysis Request').item.json.body.category || '' }",
            "marketplace": "={ $('Webhook: Analysis Request').item.json.body.marketplace || '' }",
            "price_range": "={ $('Webhook: Analysis Request').item.json.body.priceRange || '' }",
            "print_time_input": "={ $('Webhook: Analysis Request').item.json.body.printTime || '' }",
            "material_input": "={ $('Webhook: Analysis Request').item.json.body.material || '' }",
            "seller_goal": "={ $('Webhook: Analysis Request').item.json.body.sellerGoal || '' }",
            "printer_count": "={ $('Webhook: Analysis Request').item.json.body.printerCount || '' }",
            "printer_type": "={ $('Webhook: Analysis Request').item.json.body.printerType || '' }",
            "experience": "={ $('Webhook: Analysis Request').item.json.body.experience || '' }",
            "weekly_time": "={ $('Webhook: Analysis Request').item.json.body.weeklyTime || '' }",
            "active_markets": "={ Array.isArray($('Webhook: Analysis Request').item.json.body.activeMarkets) ? $('Webhook: Analysis Request').item.json.body.activeMarkets.join(', ') : ($('Webhook: Analysis Request').item.json.body.activeMarkets || '') }",
            "social_media": "={ Array.isArray($('Webhook: Analysis Request').item.json.body.socialMedia) ? $('Webhook: Analysis Request').item.json.body.socialMedia.join(', ') : ($('Webhook: Analysis Request').item.json.body.socialMedia || '') }",
            "sell_from": "={ $('Webhook: Analysis Request').item.json.body.sellFrom || '' }",
            "sell_to": "={ $('Webhook: Analysis Request').item.json.body.sellTo || '' }",
            "legal_flags": "={ Array.isArray($('Webhook: Analysis Request').item.json.body.legalFlags) ? $('Webhook: Analysis Request').item.json.body.legalFlags.join(', ') : ($('Webhook: Analysis Request').item.json.body.legalFlags || '') }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_url",
              "displayName": "input_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_host",
              "displayName": "source_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "print_time_ai",
              "displayName": "print_time_ai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "material_ai",
              "displayName": "material_ai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "downloads",
              "displayName": "downloads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_volume",
              "displayName": "search_volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_trend",
              "displayName": "search_trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etsy_listings",
              "displayName": "etsy_listings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etsy_avg_price",
              "displayName": "etsy_avg_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "market_insight",
              "displayName": "market_insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sell_price",
              "displayName": "sell_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "units_per_month",
              "displayName": "units_per_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gross_revenue",
              "displayName": "gross_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "print_cost",
              "displayName": "print_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etsy_fees",
              "displayName": "etsy_fees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "net_profit",
              "displayName": "net_profit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manufacturing_verdict",
              "displayName": "manufacturing_verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_3d_optimal",
              "displayName": "is_3d_optimal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "printing_advantage",
              "displayName": "printing_advantage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etsy_ban_risk",
              "displayName": "etsy_ban_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etsy_ban_reason",
              "displayName": "etsy_ban_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legal_risk",
              "displayName": "legal_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legal_desc",
              "displayName": "legal_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "copyright_risk",
              "displayName": "copyright_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "copyright_desc",
              "displayName": "copyright_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "best_platform",
              "displayName": "best_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "marketplace",
              "displayName": "marketplace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_range",
              "displayName": "price_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "print_time_input",
              "displayName": "print_time_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "material_input",
              "displayName": "material_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_goal",
              "displayName": "seller_goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "printer_count",
              "displayName": "printer_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "printer_type",
              "displayName": "printer_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weekly_time",
              "displayName": "weekly_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "active_markets",
              "displayName": "active_markets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "social_media",
              "displayName": "social_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sell_from",
              "displayName": "sell_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sell_to",
              "displayName": "sell_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legal_flags",
              "displayName": "legal_flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dad0c2da-b29d-4c90-923c-2f6b73cf1a46",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        26304,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sMwv0H2HObYlX0W7",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Analysis Request": {
      "main": [
        [
          {
            "node": "/scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/scrape": {
      "main": [
        [
          {
            "node": "Extract Product Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Context": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Respond: Analysis Complete1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "de2411b9-c2b2-446b-a822-eb6c3e633e25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a0cfeb1f137492401d1e3624bf6af3059a07143f49538a24e8680e25b67132d"
  },
  "id": "UAN5WZtXaomEWrum",
  "tags": []
}
